.container{
    width:fit-content;
    border: 1px solid rgb(198, 192, 192);
    background-color: whitesmoke;
    height: fit-content;
    margin:auto;
    padding: 20px;;
}
.container Input{
    background-color: white;
}
.container div{
    margin-bottom: 1rem;
    text-align: left;
    gap: 5px;
}
.container button{
    background-color: black;
    color: white;
}
.loginformcontainer{
   
    border: 1px solid rgb(198, 192, 192);
    background-color: whitesmoke;
    height: fit-content;
    margin:auto;
    padding: 20px;;
}
.loginformcontainer Input{
    background-color: white;
}
.loginformcontainer button{
    background-color: black;
    color: white;
}
.loginformcontainer div{
    margin-bottom: 1rem;
    text-align: left;
    gap: 5px;
}
.newcustomer{
    border: 1px solid rgb(198, 192, 192);
    width:35%;
    text-align: left;
    padding:20px;
    margin-top: 170px;
    
}
.newcustomer p{
    color: gray;
}
.newcustomer h1{
    font-size:18px;
   font-weight:bold;
}
.newcustomer button{
    background-color: black;
    color: white;
}