.box img{
    height: 100px;
    margin-right: 40px;
}
.box p{
    font-size: x-small;
    color: black;
    font-weight: bold;
}
.removebtn{
    color: white;
    background-color: black;
    
}
.box{
margin-bottom: 10px;
margin-top: 20px;
}
