.tbox{
    border: 1px solid rgb(235, 234, 234);
    padding: 10px;

}
.maincontainer{
    background-color: rgb(244, 241, 241);
   
}
.box p{
    color:grey;
    font-size: 14px;
}
.box img{
    height: 200px;
}
.box{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
     rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
    padding:15px;
}
.container{
    background-color: rgba(255, 255, 255, 0.859);

    padding: 10px;
    width:50%;
    margin:auto;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap:1.5rem;
      padding:1.5rem;
}
.box p{
    font-weight: bold;
    color:black;
}
.box div{
    justify-content: center;
}
.box h5{
    margin-bottom: 7px;
}
.box h3{
    font-weight: bolder;
}
.box h4{
    color: green;
    font-weight: bolder;
}
.box Button{
    
    background-color: #dd0285;
    color: white;
  margin-top: 0.5rem;
  height:30px;
    font-size: small;
    width: fit-content;
    gap:0.5rem
  }
  .maincontainer Button{
    background-color: #dd0285;
    color: white;
  }
  


.cartbox{
    border: 1px solid rgb(235, 234, 234);
    padding: 10px;

}
.cartcontainer{
    background-color: rgb(244, 241, 241);
}
.cartbox p{
    color:grey;
    font-size: 14px;
}
.cartbox img{
    height: 200px;
}
.cartcontainer{
    background-color: white;
    padding: 10px;
    width:50%;
    margin:auto;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap:3px;

}
.cartbox div{
    justify-content: center;
}
.cartbox h5{
    margin-bottom: 7px;
}
.cartbox h3{
    font-weight: bolder;
}
.cartbox h4{
    color: green;
    font-weight: bolder;
}
.cartbox>Button{
    background-color: black;
    color: white;
  margin-top: 0.5rem;
  height:30px;
    font-size: small;
    width: fit-content;
    gap:0.5rem
  }
  .cartbox div Button{
    background-color:#f4b108;
    color: white;
    margin-top: 0.5rem;
    height:25px;
   align-items: center;
    font-size:larger;
    width: fit-content;
    gap:0.5rem
  }
  